<nav
  class="bg-white border-gray-200 dark:bg-darkMode2 fixed left-0 right-0 h-20 z-50 shadow-md"
>
  <div
    class="max-w-screen-2xl flex flex-wrap items-center justify-between mx-auto p-4"
  >
    <a
      routerLink="/home"
      class="flex items-center space-x-3 rtl:space-x-reverse hover:text-Nova"
    >
      <!-- Nove hover not working in dark mode?????????????????????? -->
      <img src="/Nova logo.png" class="w-10" alt="" />
      <span
        class="self-center text-2xl font-semibold whitespace-nowrap dark:text-white"
        >Nova</span
      >
    </a>

    @if (isLogged()) {
    <div
      class="order-3 md:order-1 hidden w-full md:block md:w-auto"
      id="navbar-default"
    >
      <ul
        class="font-medium flex flex-col gap-1 p-4 md:p-0 mt-4 border border-gray-100 rounded-lg bg-lightGray md:flex-row md:space-x-4 rtl:space-x-reverse md:mt-0 md:border-0 md:bg-white dark:bg-darkMode md:dark:bg-darkMode2 dark:border-black"
      >
        <li>
          <a
            class="dark:text-white flexed w-full rounded-md hover:bg-Nova p-2 md:bg-transparent md:hover:text-Nova md:hover:bg-transparent"
            routerLink="/home"
            routerLinkActive="bg-Nova w-full md:text-Nova dark:md:text-Nova"
          >
            Home
          </a>
        </li>
        <li>
          <a
            class="dark:text-white flexed w-full rounded-md hover:bg-Nova p-2 md:bg-transparent md:hover:text-Nova md:hover:bg-transparent"
            routerLink="/cart"
            routerLinkActive="bg-Nova w-full md:text-Nova dark:md:text-Nova"
          >
            Cart
          </a>
        </li>
        <li>
          <a
            class="dark:text-white flexed w-full rounded-md hover:bg-Nova p-2 md:bg-transparent md:hover:text-Nova md:hover:bg-transparent"
            routerLink="/products"
            routerLinkActive="bg-Nova w-full md:text-Nova dark:md:text-Nova"
          >
            Products
          </a>
        </li>
        <li>
          <a
            class="dark:text-white flexed w-full rounded-md hover:bg-Nova p-2 md:bg-transparent md:hover:text-Nova md:hover:bg-transparent"
            routerLink="/categories"
            routerLinkActive="bg-Nova w-full md:text-Nova dark:md:text-Nova"
          >
            Categories
          </a>
        </li>
        <li>
          <a
            class="dark:text-white flexed w-full rounded-md hover:bg-Nova p-2 md:bg-transparent md:hover:text-Nova md:hover:bg-transparent"
            routerLink="/brands"
            routerLinkActive="bg-Nova w-full md:text-Nova dark:md:text-Nova"
          >
            Brands
          </a>
        </li>
      </ul>
    </div>
    }

    <div class="flexed gap-3 order-2 md:order-3">
      @if (isLogged()) {
      <a class="p-2 hover:text-Nova dark:text-white" routerLink="/login">
        Sign out
      </a>
      }

      <button
        (click)="toggleDarkMode()"
        class="hover:bg-lightGray w-8 h-8 rounded-md dark:hover:bg-darkMode"
      >
        <i
          class="fa-solid fa-moon cursor-pointer text-black dark:text-Nova"
        ></i>
      </button>
      @if (isLogged()) {
      <button
        data-collapse-toggle="navbar-default"
        type="button"
        class="inline-flex items-center p-2 w-10 h-10 justify-center text-sm text-black rounded-lg md:hidden hover:bg-lightGray focus:outline-none focus:ring-2 focus:ring-lightGray dark:text-white dark:hover:bg-darkMode2 dark:focus:ring-darkMode2"
        aria-controls="navbar-default"
        aria-expanded="false"
      >
        <span class="sr-only">Open main menu</span>
        <svg
          class="w-5 h-5"
          aria-hidden="true"
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 17 14"
        >
          <path
            stroke="currentColor"
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            d="M1 1h15M1 7h15M1 13h15"
          />
        </svg>
      </button>
      }
    </div>
  </div>
</nav>
