<section class="bg-lightGray w-full p-10 dark:bg-darkMode2 dark:text-white">
  <h2 class="text-2xl lg:text-3xl">Get The Nova app</h2>
  <p class="text-sm my-1">
    We will send you a link, open it from your phone to download the app
  </p>
  <div class="flexed gap-2 my-2 flex-col md:flex-row">
    <input
      type="email"
      placeholder="email"
      class="rounded-md w-full h-10 border-0 active:border-0 ring-Nova"
    />
    <button class="nova-Btn w-40 h-10 hover:bg-amber-300 dark:text-black">
      share app link
    </button>
  </div>
  <div
    class="flex justify-between flex-col gap-2 lg:flex-row p-2 m-4 border-y border-gray-300"
  >
    <div class="flexed gap-2 flex-col md:flex-row">
      <p>Payment parterners</p>
      <img class="w-16" src="/footer img/amazon-pay.png" alt="amazon-pay" />
      <img
        class="w-16"
        src="/footer img/American-Express-Color.png"
        alt="American-Express"
      />
      <img class="w-16" src="/footer img/paypal.png" alt="paypal" />
      <img class="w-16" src="/footer img/mastercard.webp" alt="mastercard" />
      <div></div>
    </div>
    <div class="flexed gap-2 flex-col md:flex-row">
      <p>Get Deliveries with Nova</p>
      <img
        class="w-24 cursor-pointer"
        src="/footer img/get-google-play.png"
        alt="play store"
      />
      <img
        class="w-24 cursor-pointer"
        src="/footer img/get-apple-store.png"
        alt="apple store"
      />
    </div>
  </div>
</section>
